.ddt-image-container {
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ddt-image {
  border-radius: 5px;
  width: 84px;
  height: 150px;
}

.ddt-btn {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  margin-top: 20px;
}
