* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  display: flex;
  align-self: center;
  width: 85%;
}

button {
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  display: flex;
  flex-direction: column;
}

/* --------- Modal Styles ---------*/

.modal {
  display: flex;
  flex-direction: column;
  outline: none;
}

.lg-image-container {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.lgImage {
  border-radius: 9px;
  height: 80vh;
}

.btn-close {
  margin-left: 2.5%;
  margin-top: 2.5%;
  color: white;
  font-size: 2em;
  padding: 0.25em 0.25em;
}

.refresh-btn {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  align-self: center;
  margin-top: 1.5%;
}
